<<<<<<< HEAD
<body>
    <div class="welcome_container">
        <h1>Welcome to the Meal Tracker!</h1>
        
        <br>
        <%= link_to 'Create New Item', new_item_path, class: "create_new_item" %>
        
        <br><br><br>
        <%= link_to 'Current Items', {controller: 'items'}, class: "create_new_item" %>
        
    </div>
</body>
=======
<div class="welcome_container">
    <h1>Welcome to the Meal Tracker!</h1>
    <br>
    <%= link_to 'Create New Item', new_item_path, class: "create_new_item" %>
    <br><br><br>
    <%= link_to 'Current Items', {controller: 'items'}, class: "create_new_item" %>
</div>
>>>>>>> 77065c5bd2407156c35ed04d3b64d690d0208511
