// Place all the styles related to the Items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
// You can use Sass (SCSS) here: http://sass-lang.com/
input[type=text] {
    width: 50%;
    padding: 12px 12px;
    border: 2px solid #ccc;
    background-color: #f8f8f8;
}

textarea {
    width: 50%;
    height: 300px;
    padding: 12px 12px;
    border: 2px solid #ccc;
    background-color: #f8f8f8;
    resize: none;
}

input[type=button], input[type=submit] {
    text-decoration: none;
    border: 1px solid blue;
    padding: 8px 10px;
    border-radius: 8px;
    color: blue;
    float: left;
    cursor: pointer;
    font-size: 15px;
}

input[type=button]:hover, input[type=submit]:hover {
    color: #e9e9e9;
    background-color: blue;
}

.date_select {
    width: 17%;
    height: 50px;
    font-size: bold;
}

p {
    font-weight: bold;
    color: blue;
    margin-bottom: 5px;
    font-size: 20px;
}

.column {
    padding: 10px;
}

#table {
    padding-top: 15px;
}

.title_text {
    color: black;
    text-transform: uppercase;
}

