// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
* {
    background-color: #e9e9e9;
}

h1 {
    font: 32px;
    color: blue;
}

.welcome_container {
    text-align: center;
    margin-top: 20%;
}

.create_new_item {
    text-decoration: none;
    border: 1px solid blue;
    padding: 8px 10px;
    border-radius: 8px;
}

.create_new_item:hover {
    color: #e9e9e9;
    background-color: blue;
}