// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h1 {
    font-size: 70px;
    color: black;
    animation:  glow 2s infinite;
    text-shadow: 0 0 50px white;
    font-family: "Bungee Shade", cursive;
}

#wel_meal {
    font-family: arial;
    font-size: 50px;
    text-transform: uppercase;
    color: white;
    animation:  glow 2s infinite;
    text-shadow:
		-1px -1px 0 #000,
		1px -1px 0 #000,
		-1px 1px 0 #000,
		1px 1px 0 #000;
}

.listing {
    font-family: "Bungee Shade", cursive;
    font-size: 30px;
}

.welcome_container {
    text-align: center;
    margin-top: 10%;
}

.create_new_item {
    background-color: #e3e2e1;
    text-decoration: none;
    border: 1px solid blue;
    padding: 8px 10px;
    border-radius: 8px;
    margin-top: 10px;
}

.create_new_item:hover {
    color: #e9e9e9;
    background-color: blue;
}

#image {
    background: url(main_background.jpg);
    background-color: rgba(255, 255, 255, .9);
    height: 500px;
    max-width: 100%;
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
}



.gray {
    background-color: #e3e2e1;
}